@using Microsoft.JSInterop
@using EnterpriseChat.Client.Extensions
@inject IJSRuntime JS

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <p>Page not found</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ScrollExtensions.Init(JS);
        }
    }
}
