@page "/login"
@layout EnterpriseChat.Client.Components.Layout.AuthLayout

@using EnterpriseChat.Client.Contracts.Auth
@using EnterpriseChat.Client.Services.Http
@using System.Web

@inject AuthApi AuthApi
@inject EnterpriseChat.Client.Authentication.Abstractions.ITokenStore TokenStore
@inject EnterpriseChat.Client.Authentication.Services.JwtAuthStateProvider AuthProvider
@inject NavigationManager Nav

<h2>Welcome back</h2>
<p class="muted">Login with your username or email.</p>

<input class="auth-input" placeholder="Email or username" @bind="Identifier" />
<input class="auth-input" placeholder="Password" type="password" @bind="Password" />

<button class="auth-btn" @onclick="DoLoginAsync" disabled="@IsBusy">
    @(IsBusy ? "Logging in..." : "Login")
</button>

@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="auth-error">@Error</div>
}

<div class="auth-links">
    <a href="/register">Create account</a>
    <a href="/verify-email">I have a code</a>
</div>


@code {
    private string Identifier = "";
    private string Password = "";
    private bool IsBusy;
    private string? Error;

    private async Task DoLoginAsync()
    {
        Error = null;
        IsBusy = true;

        try
        {
            var dto = await AuthApi.LoginAsync(new LoginRequest
            {
                Identifier = Identifier.Trim(),
                Password = Password
            });

            await TokenStore.SetAsync(dto.AccessToken);
            AuthProvider.Notify();

            var uri = new Uri(Nav.Uri);
            var qs = HttpUtility.ParseQueryString(uri.Query);
            var returnUrl = qs.Get("returnUrl") ?? "/rooms";
            Nav.NavigateTo(returnUrl, true);

        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
        finally
        {
            IsBusy = false;
        }
    }
}
