@using EnterpriseChat.Client.Models

<div class="presence-bar">
    @if (!OnlineUsers.Any())
    {
        <div class="presence-chip">
            <span class="presence-name">No one online</span>
        </div>
    }
    else
    {
        @foreach (var user in OnlineUsers)
        {
            <div class="presence-chip">
                <span class="presence-avatar">@user.DisplayName[..1].ToUpper()</span>
                <span class="presence-name">@user.DisplayName</span>
                <span class="dot online" title="Online"></span>
            </div>
        }
    }
</div>

@code {
    [Parameter] public IReadOnlyList<UserModel> OnlineUsers { get; set; } = [];
}
