@using EnterpriseChat.Client.Services.Realtime
@inherits LayoutComponentBase
@inject IChatRealtimeClient Realtime
<div class="app-layout">
    <aside class="sidebar">
        <Sidebar />
    </aside>

    <section class="main">
        <div class="content">
            @Body
        </div>
    </section>
</div>

<ToastHost />
@code{
    protected override async Task OnInitializedAsync()
{
    await Realtime.ConnectAsync(); // connect global مرة واحدة لكل الـ app
}
}
