@inherits LayoutComponentBase

<div class="app-layout">
    <aside class="sidebar">
        <Sidebar />
    </aside>

    <section class="main">
        <div class="content">
            @Body
        </div>
    </section>
</div>

<ToastHost />
